html,
body {
  margin: 0;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  min-width: 375px !important;
}

#app {
  height: auto;
  min-height: 100vh;
  background: #ece6d9;
  min-width: 375px !important;
}

* {
  box-sizing: border-box;
}
